body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  color: #333;

  .text {
    margin-top: 10px;
    font-size: 16px;
  }
}